.parallax-wrap
  .inner-parallax.medium
    .cloud-wrap
      div(data-enllax-ratio="-0.3" data-enllax-type="foreground")
        .parallax-figure.left-align.big
          div
            |
            |
            svg.cloud(width="508px" height="222px" viewBox="0 0 508 222" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              include ../svg/cloud_parallax.pug
            |
            |
      div(data-enllax-ratio="-0.2" data-enllax-type="foreground")
        .parallax-figure.left-align.small
          div
            |
            |
            svg.cloud(width="508px" height="222px" viewBox="0 0 508 222" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              include ../svg/cloud_parallax.pug
            |
            |
    .cloud-wrap
      div(data-enllax-ratio="-0.3" data-enllax-type="foreground")
        .parallax-figure.right-align.big
          div
            |
            |
            svg.cloud(width="508px" height="222px" viewBox="0 0 508 222" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              include ../svg/cloud_parallax.pug
            |
            |
      div(data-enllax-ratio="-0.2" data-enllax-type="foreground")
        .parallax-figure.right-align.small
          div
            |
            |
            svg.cloud(width="508px" height="222px" viewBox="0 0 508 222" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              include ../svg/cloud_parallax.pug
            |
            |
    .cloud-wrap
      div(data-enllax-ratio="-0.3" data-enllax-type="foreground")
        .parallax-figure.left-align.big
          div
            |
            |
            svg.cloud(width="508px" height="222px" viewBox="0 0 508 222" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              include ../svg/cloud_parallax.pug
            |
            |
      div(data-enllax-ratio="-0.2" data-enllax-type="foreground")
        .parallax-figure.left-align.small
          div
            |
            |
            svg.cloud(width="508px" height="222px" viewBox="0 0 508 222" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              include ../svg/cloud_parallax.pug
            |
            |

