.root
  .container.max-sm
    p.use-text-paragraph #{$t.hosting_landing.footer_subscribe}
    .form
      form
        .field
          .input-field.full-width.dark.solo
            |
            |
            input(type="email" name="email" placeholder=$t.hosting_landing.footer_mail)
            |
            |
          .show-sm-up
            |
            |
            button.btn.primary.button #{$t.hosting_landing.subscribe}
            |
            |
          .show-xs-down 
            |
            |
            button.btn-flat.waves-effect.button
              i.material-icons send
            |
            |
